section.repository-list{
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  h2 {
    margin-top: 20px;
  }

  ul {
    list-style: none;
    gap: 18px;

    li {
    
      border: 1px solid #232323;
      border-radius: 20px;
      margin-top: 20px;
      padding: 12px ;
      width: 100%;
      text-align: center;

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }

}